* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;
    width: 300px;
    outline: 4px solid #000;
    font-size: 3rem;
}

.grid-container > div {
    outline: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    display: none;
}

aside > div {
    height: 250px;
    width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
    
}

.close {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: right;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover {
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

select {
    font-size: 1rem;
}