* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
}

html {
    height: 100%;

}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;
    width: 300px;
    outline: 4px solid #000;
}

.grid-container > div {
    outline: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}